<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created for the Docker class at Frisco Masjid
<%= link_to('Frisco Masjid', 'http://www.friscomasjid.org') %>
to help learn <%= link_to('Docker', 'https://www.docker.com/') %>.
</p>
